h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-family: Arial;
	font-size: 20px;
	line-height: 24px;
}
caption {
	text-transform: uppercase;
	font-weight: 900;
	font-family: Arial;
	font-size: 16px;
	line-height: 24px;
}
div {
	padding: 1%;
}

.main-table{
	width: 100%;
}
.additional-table{
	width: 100%;
	table-layout: fixed;
}

.base number {
	display: block;
	font-size: 10px;
	font-family: Arial;
	line-height: 10px;
}
.base nelement {
	display: block;
	font-size: 40px;
	font-weight: bold;
	font-family: Times New Roman;
	line-height: 36px;
}
.base atomic_number {
	display: block;
	font-size: 10px;
	font-family: Arial;
	line-height: 10px;
}
.base element_name {
	display: block;
	font-size: 12px;
	font-family: Arial;
	text-transform: uppercase;
	font-stretch: extra-condensed;
	font-weight: 600;
}

.right number {
	text-align: right;
}
.right nelement {
	text-align: left;
}
.right atomic_number {
	text-align: right;
}
.right element_name {
	text-align: left;
}

.left number {
	text-align: left;
}
.left nelement {
	text-align: right;
}
.left atomic_number {
	text-align: left;
}
.left element_name {
	text-align: right;
}

.red nelement {
	color: red;
}
.blue nelement {
	color: blue;
}
.yellow nelement {
	color: yellow;
}

td img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.col {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.tdinfo {
	line-height: 10px;
	font-family: Arial;
	font-size: 12px;
}
.divinfo {
	display: inline-flex;
	width: 100%;
}